* {
  box-sizing:border-box;
}

#site {
  max-width: 960px;
  margin: 0 auto;
  overflow: auto;
  height:100%;
 }

.box {
    text-transform: uppercase;
    color: white;
    width 100%;
    background-color: #3333cc;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

.headBox{
    display: block;
    font-size: 1.75rem;
}
.headBox2{
    display: block;
    font-size: 1rem;
}

.fullBox {
    width: 100%
    margin-left: 10px;
}

.icon_uk {
     float: right;
     width: 30px;
     vertical-align: middle;
   }
.icon_pl {
    float: right;
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.dataBox {
    width: 23%;
    display: inline-block;
    vertical-align:top;

}
.dataBoxTwo {
    width: 49%;
    display: inline-block;
    vertical-align:top;
}
.dataBoxThree{
    width: 25%;
    display: inline-block;
    vertical-align:top;
}
.dataBoxFour{
    width: 75%;
    display: inline-block;
}
ul {
    list-style: none;
}
#photo {
    width: 200px;
    height: 200px;
    margin: -25px;
    margin-left: 20px;
    position:absolute;
    border-radius: 5px;
    border: 5px solid white;
    vertical-align: top;
}
.grey {
    color: #d1d1e0;
}
#language {
    width: 47%;
    display: inline-block;
}
#strengths{
    width: 52%;
    display: inline-block;
}
#interestBox ul li {
    width: 23%;
	display: inline-block;
	text-align: center;
}

.marg {
    text-align: left;

}
#interestBox .fa {
    font-size: 40px;
}

#footer {
    width:100%;
    font-size: 0.75rem;
}
